{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="mb-4">
    <h1>Dashboard</h1>
    <p class="text-muted">HRM system overview</p>
</div>

<div class="row g-4 mb-4">
    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h6 class="text-muted">Total Employees</h6>
            <h2>{{ total_employees }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h6 class="text-muted">Active Departments</h6>
            <h2>{{ total }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h6 class="text-muted">Active Roles</h6>
            <h2>{{ total_roles }}</h2>
        </div>
    </div>
</div>


{% endblock %}
